@import "config";

.container {
  height: 100%;
  @include flex-column;
  justify-content: center;
  align-items: center;
  background: $light-gray;
}

.card {
  width: 90%;
  max-width: 380px;
  @include flex-column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background: $white;
}

.image {
  margin-bottom: 20px;
  img {
    width: 100%;
    border-radius: 20px;
  }
}

.text {
  text-align: center;
  margin-bottom: 14px;

  h1 {
    font-weight: 700;
    color: $dark-blue;
    margin-bottom: 14px;
  }
}

.attribution {
  color: $grayish-blue;
  text-align: center;
  font-size: 14px;

  a {
    text-decoration: none;
    color: #000;
    font-weight: 700;

    &:last-of-type {
      color: $dark-blue;
    }

    &:hover,
    &:active {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: $xsmall) and (max-width: $small) {
  h1 {
    font-size: 26px;
  }

  p {
    font-size: 16px;
  }
}

@media only screen and (min-width: $small) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }
}
